In [2]:
print(123)

123

In [1]:
x = 5
y = "name"
x
y
print(x)
print(y)

5
name

In [7]:
x = 5
y = 6
x + y
z = "700"
str(y) + z

'6700'

In [14]:
width = 10.2
height = 9.3
area = width * height
print(area)

94.86

In [40]:
x = 5
y = "6"
z = '7'
a = 15.4
b = "15.8"

In [42]:
a + ceil(float(b))

NameError: name 'ceil' is not defined

In [26]:
print(x,y)

5 6

In [43]:
name = "manoj"
name * 8

'manojmanojmanojmanojmanojmanojmanojmanoj'

In [33]:
output = str(x) + " and " + y
output

'5 and 6'

In [31]:
print(x,  " and ", y)

5  and  6

In [54]:
x=40

In [46]:
print(x)

100

In [56]:
if int(x) > 50:
    print("yes")
    print("hello")
    if int(x)/2 > 30:
        print("greater than 30")
    else:
        print("less than 30")
elif int(x) == 40:
    print("I am 40")
else:
    print("no")

I am 40

In [57]:
x = "try"
len(x)

3

In [58]:
max(1,2,3)

3

In [59]:
def go():
    print("hello")

In [65]:
y = go()

hello

In [68]:
y

In [15]:
def go():
    print("hello")
    x = 2 * 4
    print(x)
    return x

In [16]:
go()

hello
8

8

In [17]:
y = go()

hello
8

In [18]:
y

8

In [20]:
def calc(x, y):
    print("hello")
    z = x * y
    print(z)
    return z

In [21]:
calc(4, 5)

hello
20

20

In [81]:
def calc( x, y=5):
    print("hello")
    z = x * y
    print(z)
    return z

In [83]:
calc(8)

hello
40

40

In [22]:
import math

In [23]:
math.ceil(10.4)

11

In [24]:
from math import ceil

In [25]:
ceil(14.5)

15

In [28]:
import random

In [40]:
int(random.random()*1000)

161

In [39]:
x = " "
print(x)
if x:
    print("Yes")
else:
    print("No")

Yes

In [120]:
x = 5
y = 6
if (x == 5 or y == 6):
    print("Found")
else:
    print("Not found")

Found

In [43]:
x = "5"*"55"

TypeError: can't multiply sequence by non-int of type 'str'

In [48]:
try:
    x = "5"*"55"
except e:
    print("something went wrong")
    print(e.args)

NameError: name 'e' is not defined

In [127]:
x = []
y = {}
z = ()

In [49]:
x = []

In [50]:
len(x)

0

In [53]:
x = [1,2,4, "name", "age"]

In [54]:
x

[1, 2, 4, 'name', 'age']

In [135]:
x = [1, 2, 3, 4, 5]

In [132]:
x

[1, '4', 'ty']

In [133]:
len(x)

3

In [136]:
x[0]

1

In [58]:
x[0:3]

[1, 2, 4]

In [55]:
for i in x:
    print(i)

1
2
4
name
age

In [59]:
len(x)

5

In [60]:
x.append(100)

In [65]:
x = [600, 200, 1, 2, 4, 100]
x

[600, 200, 1, 2, 4, 100]

In [69]:
x.sort()

In [70]:
x

[1, 2, 4, 100, 200, 600]

In [71]:
x[2] = 50

In [72]:
x

[1, 2, 50, 100, 200, 600]

In [74]:
y = [8,9,10]
y

[8, 9, 10]

In [75]:
x

[1, 2, 50, 100, 200, 600]

In [76]:
x.extend(y)

In [77]:
x

[1, 2, 50, 100, 200, 600, 8, 9, 10]

In [78]:
x[1] * x[4]

400

In [79]:
sum(x)

980

In [80]:
max(x)

600

In [81]:
x

[1, 2, 50, 100, 200, 600, 8, 9, 10]

In [82]:
x.pop(2)

50

In [83]:
x

[1, 2, 100, 200, 600, 8, 9, 10]

In [84]:
del x[2]

In [85]:
x

[1, 2, 200, 600, 8, 9, 10]

In [86]:
x.remove(9)

In [87]:
x

[1, 2, 200, 600, 8, 10]

In [90]:
type(x)

list

In [94]:
s = "I am here. I am there."
s

'I am here. I am there.'

In [92]:
type(s)

str

In [100]:
slist = s.split()
slist

['I', 'am', 'here.', 'I', 'am', 'there.']

In [96]:
slist = s.split("am")

In [97]:
slist

['I ', ' here. I ', ' there.']

In [98]:
x = " here "
x

' here '

TypeError: 'int' object is not iterable

In [99]:
x.strip()

'here'

In [101]:
slist

['I', 'am', 'here.', 'I', 'am', 'there.']

In [104]:
"".join(slist)

'Iamhere.Iamthere.'

In [ ]:
#dict

In [105]:
data = {}

In [106]:
data

{}

In [110]:
data = {"name": "xyz", "loc": "India", "age": 100}

In [111]:
data

{'name': 'xyz', 'loc': 'India', 'age': 100}

In [112]:
data["name"]

'xyz'

In [113]:
data["age"]

100

In [114]:
data = dict(name = "xyz", loc = "India", age = 100)

In [115]:
data

{'name': 'xyz', 'loc': 'India', 'age': 100}

In [118]:
data["age"]

100

In [119]:
data["pin"]

KeyError: 'pin'

In [124]:
data.get("loc")

'India'

In [126]:
data.get("pin", "100100")

'100100'

In [127]:
data

{'name': 'xyz', 'loc': 'India', 'age': 100}

In [130]:
data = {'name': 'xyz', 'loc': 'India', 'age': 100}

In [132]:
for key in data:
    print(key, " - ", data[key])

name  -  xyz
loc  -  India
age  -  100

In [134]:
for key in data:
    print(key, " - ", data.get(key))

name  -  xyz
loc  -  India
age  -  100

In [135]:
data

{'name': 'xyz', 'loc': 'India', 'age': 100}

In [136]:
data.items()

dict_items([('name', 'xyz'), ('loc', 'India'), ('age', 100)])

In [137]:
data.keys()

dict_keys(['name', 'loc', 'age'])

In [138]:
data.values()

dict_values(['xyz', 'India', 100])

In [147]:
for item in data.items():
    print(item)
    print(item[0] + " - " + str(item[1]))

('name', 'xyz')
name - xyz
('loc', 'India')
loc - India
('age', 100)
age - 100

In [149]:
for key, value in data.items():
    print(key , value)

name xyz
loc India
age 100

In [150]:
data

{'name': 'xyz', 'loc': 'India', 'age': 100}

In [ ]:
list of dict

In [159]:
data = [{'name': 'xyz', 'loc': 'India', 'age': 100}, {'name': 'abc', 'loc': 'USA', 'age': 200, 'pin': 100100}]

In [160]:
data

[{'name': 'xyz', 'loc': 'India', 'age': 100},
 {'name': 'abc', 'loc': 'USA', 'age': 200, 'pin': 100100}]

In [164]:
for list_item in data:
    print(list_item)
    for dict_item in list_item.items():
        print(dict_item)

{'name': 'xyz', 'loc': 'India', 'age': 100}
('name', 'xyz')
('loc', 'India')
('age', 100)
{'name': 'abc', 'loc': 'USA', 'age': 200, 'pin': 100100}
('name', 'abc')
('loc', 'USA')
('age', 200)
('pin', 100100)

In [165]:
data = {'name': 'xyz', 'loc': 'India', 'age': 100}

In [166]:
data

{'name': 'xyz', 'loc': 'India', 'age': 100}

In [167]:
data["name"] = "pqr"

In [168]:
data

{'name': 'pqr', 'loc': 'India', 'age': 100}

In [169]:
data.pop("name")

'pqr'

In [170]:
data

{'loc': 'India', 'age': 100}

In [171]:
data["city"] = "NY"

In [172]:
data

{'loc': 'India', 'age': 100, 'city': 'NY'}

In [180]:
data = (1, "x", "y")

In [ ]:
mutable
immutable

list mutable

tuple immutable

In [181]:
datalist = [1, 2, 3]

In [182]:
datalist[1] = 100

In [183]:
datalist

[1, 100, 3]

In [184]:
data = (1, "x", "y")

In [185]:
data[1] = 100

TypeError: 'tuple' object does not support item assignment

In [186]:
newlist = list(data)
newlist

[1, 'x', 'y']

In [187]:
newlist[1] = 100
newlist

[1, 100, 'y']

In [188]:
data = tuple(newlist)

In [189]:
data

(1, 100, 'y')

In [190]:
data[1]

100

In [191]:
len(data)

3

In [ ]:
data =

In [176]:
data

(1, 'x')

In [192]:
data = [{'name': 'John', 'loc': 'India', 'age': 100}, 
       {'name': 'Mac', 'loc': 'USA', 'age': 200, 'pin': 100100},
       {'name': 'Sam', 'loc': 'UK', 'age': 300, 'pin': 100200}
       ]

In [193]:
data

[{'name': 'John', 'loc': 'India', 'age': 100},
 {'name': 'Mac', 'loc': 'USA', 'age': 200, 'pin': 100100},
 {'name': 'Sam', 'loc': 'UK', 'age': 300, 'pin': 100200}]

In [197]:
for list_item in data:
    print(list_item)
    if list_item["name"] == "John":
        continue
    if list_item["name"] == "Mac":
        break

{'name': 'John', 'loc': 'India', 'age': 100}
{'name': 'Mac', 'loc': 'USA', 'age': 200, 'pin': 100100}

In [206]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [207]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [208]:
for i in range(10, 20, 3):
    print(i)

10
13
16
19

In [209]:
i = 10
while (i > 5):
    print(i)
    i = i - 1

10
9
8
7
6

In [237]:
f = open("/home/manojkmaurya8967/names.txt")

In [224]:
type(f)

_io.TextIOWrapper

In [232]:
for line in f:
    print(line)

manoj manoj

sandeep

abhinav

pradeep

manoj

In [233]:
with open("/home/manojkmaurya8967/names.txt") as f:
    for line in f:
        print(line)

manoj manoj

sandeep

abhinav

pradeep

manoj

In [238]:
data = f.read()

In [241]:
data

'manoj manoj\nsandeep\nabhinav\npradeep\nmanoj\n\n'

In [249]:
for line in data.split("\n"):
    print(line)
    if line.startswith("m"):
        print("      Found m")
    if "d" in line:
        print("      Found d")

manoj manoj
      Found m
sandeep
      Found d
abhinav
pradeep
      Found d
manoj
      Found m

In [251]:
f = open("/home/manojkmaurya8967/names2.txt", "w")

In [252]:
f.write("hello there")

11

In [253]:
f.close()

In [255]:
f = open("/home/manojkmaurya8967/names2.txt", "w")
f.write("bye")

3

In [256]:
f.close()

In [257]:
f = open("/home/manojkmaurya8967/names2.txt", "a")
f.write("here hi")
f.close()

In [278]:
t1 = (5, 2,  100)
t2 = (5, 2,  4)

In [279]:
if t1 > t2:
    print("t1")
else:
    print("t2")

t1

In [275]:
(0,1,2000000) < (0,3,4)

True

In [281]:
type({"me": 3434})

dict

In [ ]:
car - class
car has features/attributes
fields - 
color
maxspeed

car can do some action (method)
run
stop
turn

when we instantiate the class

real world object:
car1 - red, 200
run, stop, turn
current speed
current odometer reading

car2 - blue, 300
run, stop, trun, self-park

car3 ....
.....fly

class Car(self, color, maxspeed):
    color
    maxspeed
    
    def run():
        efd
    
    def stop():
        sdfsdfs
    
car1 = Car("red", 200)
car2 = Car("blue", 300)